# Environment Variables
.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Dependencies
node_modules/

# Database
*.db
*.sqlite3

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log